:root {
  --tiblue: #406ab6;
  --buttonred: #df293f;
  --buttonwhite: #fcfcfa;
  --solarcellgray: #42433b;
  --displaygray: #d7d4cd;
  --textwhite: #dce7e3;
  --displayoutlinegray: #6f7164;
}

body {
  background-image: url("../img/workspacedesktop-coffeelooking-d.jpg");
  background-position: right 0px bottom 250px;
}
#calculator {
  position: absolute;
  outline: 2px solid rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 15%;
  min-width: 400px;
  max-width: 400px;
  margin-left: -100px;
  /* margin-top: 25px; */
  font-family: "Bree serif", serif;
  /* margin-right: 40rem; */
  padding-bottom: 2rem;
  background-color: var(--tiblue);
  border-radius: 0.5em;
  border: 5px solid #3b63ac;
  box-shadow: -8px -5px rgba(0, 0, 0, 0.25);
}
#spacer {
  max-height: 5px;
}
#titleline {
  display: flex;
  justify-content: space-around;
  color: var(--textwhite);
}

button {
  min-width: 10%;
  min-height: 10%;
  font-size: large;
  border-radius: 0.3rem;
}

#buttons {
  display: flex;
  flex-direction: column;
}

#mfr {
  font-size: 2rem;
}

#model {
  font-size: 2.25rem;
  font-weight: 900;
}
#solar {
  display: flex;
  background-color: black;
  margin-left: 4%;
  width: 25%;
  height: 35px;
}
.cell {
  flex: true;
  background-color: var(--solarcellgray);
  width: 50px;
  border: solid black 1px;
}
#specials {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-start;
  max-width: 45%;
  padding: 0.5rem;
}
.special {
  color: var(--textwhite);
  flex-grow: 1;
  background-color: var(--buttonred);
  min-width: 2rem;
  max-width: 4rem;
  min-height: 3rem;
  max-height: 5rem;
}

#operators {
  display: flex;
  flex-direction: column;
  min-width: 4rem;
  max-width: 6rem;
  min-height: 8rem;
  max-height: 10rem;
  padding-bottom: 1rem;
}

.operator {
  flex-grow: 1;
  color: var(--textwhite);
  background-color: var(--buttonred);
}

#main {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  flex-direction: column;
}
#numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.35rem 0;
  min-width: 15rem;
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
}

.number {
  align-items: flex-start;
  background-color: var(--buttonwhite);
  min-width: 2rem;
  max-width: 4rem;
  min-height: 2rem;
  max-height: 4rem;
}

#display {
  display: flex;
  flex-grow: 0;
  border: 8px solid var(--displayoutlinegray);
  border-radius: 0.2rem;
  outline: 1px solid black;
  justify-content: flex-end;
  min-height: 3rem;
  min-width: 1rem;
  font-family: "lets_go_digitalregular";
  font-size: 3rem;
  background-color: var(--displaygray);
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  margin: 3.5rem;
  overflow: hidden;
}

.pressed {
  background-color: #bac2bf;
}
